@model MusicStore.Domain.DomainModels.Artist

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5 text-white">
    <h1>Edit Artist</h1>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" method="post" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StageName" class="form-label">Stage Name</label>
                    <input asp-for="StageName" class="form-control" />
                    <span asp-validation-for="StageName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Age" class="form-label">Age</label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Id" />

                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-1">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
