@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid text-center text-white">
    <div class="container">
        <h1 class="display-4 font-weight-bold">Welcome to the Music Store</h1>
        <p class="fw-bold">Discover your next favorite album, track, or playlist.</p>
        <hr class="my-4">
        <p class="fw-bold">Ready to dive into the world of music?</p>
        <a class="btn btn-dark btn-lg mt-3" href="/Artists" role="button">Explore Artists</a>
        <a class="btn btn-dark btn-lg mt-3" href="/Tracks" role="button">Browse Music</a>
    </div>
</div>

<div class="container text-center">
    <h2 class="my-4 text-white">What We Offer</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://res.cloudinary.com/zenbusiness/image/upload/v1670445040/logaster/logaster-2021-02-music-album-h.jpg" class="card-img-top" alt="Albums">
                <div class="card-body">
                    <h5 class="card-title">Albums</h5>
                    <p class="card-text">A wide range of albums from various artists and genres.</p>
                    <a href="/Albums" class="btn btn-outline-primary">View Albums</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://images.wsj.net/im-678433/square" class="card-img-top" alt="Tracks">
                <div class="card-body">
                    <h5 class="card-title">Tracks</h5>
                    <p class="card-text">Discover individual tracks and add them to your playlist.</p>
                    <a href="/Tracks" class="btn btn-outline-primary">View Tracks</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://wknc.org/wp-content/uploads/2021/09/playlist-prompts-1200x1200.jpg" class="card-img-top" alt="Playlists">
                <div class="card-body">
                    <h5 class="card-title">Playlists</h5>
                    <p class="card-text">Create your perfect playlist and enrich it with your favorite tracks.</p>
                    <a href="/UserPlaylists" class="btn btn-outline-primary">View Playlists</a>
                </div>
            </div>
        </div>
    </div>
</div>
